@model SywApplicationShopGroup.Web.UI.Models.ShopGroupHomeScreenModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<h2>Regular canvas page</h2>

@if (Model == null)
{
    <p>
        <label>
            Oppps, there seems to be a problem with the application.<br />
            Please refresh the window and try again</label><br />
    </p>

}
else
{
    <p>Shop Group Home page</p>
    <div >
        <h3>For example:</h3>
        <div>
            Using /users/current API the application now knows that you are:
            <div class="user">
                <a class="image-link" href="@Model.ProfileUrl" target="_top"><img alt="@Model.MemberName image" src="@Model.ImageUrl"/></a>	
                <div class="details">
                    <div>MemberId: @Model.Id</div>
                
                    <div>MemberName: <a href="@Model.ProfileUrl" target="_top">@Model.MemberName</a></div>
                    
                    
                
                    <div>
                        @if (Model.ShopGroups!= null && Model.ShopGroups.Any())
                        {
                            var oneOfFollowers = Model.ShopGroups.Last();
                            <span>You are a members of @Model.ShopGroups.Count Shop Groups. one of them is </span>
                        }
                        else
                        {
                            <span>You don't have any Shop Groups</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>To learn more about the ShopYourWay Platform APIs go to <a href="https://developer.shopyourway.com/display/platdev/The+API" target="_blank">ShopYourWay Developers site</a></p>
    <p>Canvas is available via http://base-app-url/</p>
}